body {
  margin:0;
  padding:0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 1%;
  left:90%;
  width: 100%;
}
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 20px 16px;
  text-decoration: none;
}
